<!-- robot_controll/launch/bringup.launch -->
<launch>
  <node pkg="robot_controll" type="fk_node.py"          name="fk_node"          output="screen"/>
  <node pkg="robot_controll" type="ik_node.py"          name="ik_node"          output="screen"/>
  <node pkg="robot_controll" type="trajectory_node.py"  name="trajectory_node"  output="screen"/>
  <!-- <node pkg="robot_controll" type="main_node.py"        name="main_controller"  output="screen"/> -->
</launch>
